.about-container{
    display: flex;
    justify-content: space-between;
    background-color: #FAFAFA;
    margin-bottom: 150px;
    
    
    
}
.about-content{
    padding-top:  105px;
}
.about-img img{
    width: 700px;
}
@media screen  and (max-width : 560px )  {
    .about-container{
        flex-direction: column;
    }
    .about-img img{
        width: 200px;
    }
    .about-content{
        padding-top:  55px;
    }
}