.banner-container{
    background-color: #FEFEFF;
    border: 2px solid rgba(174, 253, 229, 0.733);
    border-radius: 20px;
    padding: 10px;
    margin: 50px;
}


.banner{
    margin-top: 20px;
    display: flex;
    justify-content: space-between; 
    
}
.banner-content{
    margin-left: 64px;
    margin-top: 140px;
}
.banner-img img{
    width: 650px;
}

